html, body{
	margin:				auto;
	background-color:	#fff;
	color:				#003da7;
	@font-face {
		font-family: din_regular;
		src: url(../fuentes/DINPro-Medium.otf);
	}
	/*font-family:		Arial, Helvetica, sans-serif;	
	font-size:			14px;*/
	font: 				14px din_regular; 
	
}
a, a:visited {
	text-decoration:	none;
	color:				inherit;
}
p {
	margin: 0;
}
div#contenedor_stubia {
	margin:				auto;
	position:			relative;
	max-width:			60vw;
	
	/*max-width: 50%;*/
	
}
div#contenedor_stubia div#capa_cabecera {
	position:               relative;
        margin:             0.5em 0em 0.5em 0em;
}
div#contenedor_stubia div#capa_cabecera img {
	vertical-align:         middle;
}
div#contenedor_stubia div#capa_cabecera div.login {
	display: 		inline-block;
	position:		absolute;
	bottom:			0em;
	right:          1em;
	/*font-family:  verdana;*/
	font-size:		1em;
    padding-top:    0em;
        
}
div#contenedor_stubia div#capa_cabecera div.login img {
	vertical-align:         bottom;
        padding-top:            0em;
}
div#contenedor_stubia div#capa_borde_superior {
	position:		relative;
	border-radius:		10px 10px 0 0;
	background-color:	#003da7;
	color:			#fff;
	padding:		.5em 1em;
	font-weight:		bold;
}
div#contenedor_stubia div#capa_borde_superior a#info_notif {
        float: right;
	background-color:	#fff;
	font-size:			.9em;
	color:				#003da7;
	padding:			.1em .5em;
	border-radius:		10px;
}
div#contenedor_stubia div#capa_borde_superior a#enlace_admin, a#enlace_manual {
        float: right;
	background-color:	#fff;
	font-size:			.9em;
	color:				#003da7;
	padding:			.1em .5em;
	border-radius:		10px;
        margin-right: 10px;
}


div#contenedor_stubia div#capa_cuerpo {
	position:			relative;
	background-color:	#f4f4f4;
	min-height:			40vh;
	padding:			1em 2em;
	

}

div#contenedor_stubia div#capa_cuerpo div#capa_avisos_producidos a {
	font-size:		.6em;
	cursor:			pointer;
	font-weight:	normal;
}
div#contenedor_stubia div#capa_cuerpo div#capa_avisos_producidos a:hover {
	font-weight:	bold;
	letter-spacing:	2px;
}
div#contenedor_stubia div#capa_cuerpo div#contenido_variable {
	position:	relative;
	display:	none;
}
div#contenedor_stubia div#capa_cuerpo div#capa_notif {
	position:			absolute;
	width:				25%;
	top:				0;
	right:				0;
	background-color:	rgba(0, 0, 0, 0.8);
	padding:			.5em 1em;
	color:				#f9f9f9;
	border-radius:		0 0 0 10px;
	
}
div#contenedor_stubia div#capa_cuerpo div#capa_notif div {
	position:	relative;
	padding:	1.5em 0;
}
div#contenedor_stubia div#capa_cuerpo div#capa_notif div:not(:last-child) {
	border-bottom:	solid 1px #f9f9f9;
}
div#contenedor_stubia div#capa_cuerpo div#capa_notif div p {
	padding: 0 1em;
}
div#contenedor_stubia div#capa_cuerpo div#capa_notif div img {
	width:		20px;
	position:	absolute;
	right:		1em;
	top:		.5em;
	cursor:		pointer;
}
div#contenedor_stubia div#capa_borde_inferior {
	border-radius:		0 0 10px 10px;
	background-color:	#003da7;
	color:				#fff;
	padding:			.5em 1em;
	/*font-weight:		bold;*/
}
div#contenedor_stubia div#capa_copyright {
	color:		#aaa;
	padding:	.2em;
	text-align:	center;
	font-size:	.85em;
}

.boton {
	background-color:	#180168;
	color:				#fff;
	font-weight:		bold;
	font-size:			.85em;
	border:				1px solid #000;
	padding:			.5em .8em;
	min-width:			10em;
	cursor:				pointer;
}

#alert-message{
    border-radius: 5px;
    background: #e7ffde;
    padding: 5px;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 50%;
}

/*--- TOOLTIPS ---*/
.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px ;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 10%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    display:none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:5px 8px;
    background:#555;
    color:#fff;
    z-index:9;
    height:18px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 6px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}
/* -------------------------------------------------------------------------------------------------*/
.oculto {display: none;}
.invisible {visibility: hidden;}
.centrado {text-align: center;}
.negro {color: #000;}
.in-line{display: inline-block}
.right{float:right}


table#log{
    border-collapse: collapse;
    text-align: center;
}
table#log thead tr th{
    background: #003da7;
    color: white;
    padding: 5px;
}
table#log thead tr th:first-child { border-top-left-radius: 10px; }
table#log thead tr th:last-child { border-top-right-radius: 10px; }

table#log tbody tr td{
    border-bottom: 1px solid #003da7;
    padding: 10px;
}
table#log tfoot tr th{
    text-align: right;
}
table#log tr:nth-child(even) {background-color: #e6e6e6;}

.negrita{
    font-weight: bold;
}